# Virtual Environment
venv/
env/

# Python & Streamlit Cache
__pycache__/
*.py[cod]
.streamlit/
.deepface/

# Generated models and large cache files
models/*.caffemodel
models/*.keras
models/*.h5

# OS Files
Thumbs.db
.DS_Store