# Virtual Environment
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Streamlit Cache
.streamlit/

# DeepFace and Pre-trained model caches
.deepface/
models/*.caffemodel
models/*.keras
models/*.h5

# OS Files
Thumbs.db
.DS_Store